doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Admin Dashboard
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/admin.css')
include navbar
//- .container-fluid
header
  include userNav
main.mainAdmin
  .container-adminDash
    .row.row-cols-1.row-cols-md-2.g-4
      .col
        .card.shadow
          .card-body
            h2 Updates
            .cards-container
              .card-toDo
                h3 Total Revenue 
                p Shs #{new Intl.NumberFormat().format(totalIncome)}
              .card-toDo 
                h3 Total Expenses 
                p Shs #{new Intl.NumberFormat().format(totalExpense)}  
              .card-toDo 
                h3 Babies Enrolled
                p #{enrolledBabies}
              .card-toDo 
                h3 Babies Present 
                p #{babiesPresent}
              .card-toDo 
                h3 Sitters Enrolled 
                p #{enrolledSitters}  
              .card-toDo 
                h3 Sitters Present 
                p #{sittersPresent}
      .col
        .card.shadow
          .card-body
            h2 To-Do List
            input#taskInput(type='text' placeholder='Add new task...')
            button.btn-toDo(onclick='addTask()') Add Task
            button.btn-toDo(onclick='clearList()') Clear List
            ul#taskList
      //- .col
      //-   .card.shadow
      //-     .card-body
      //-       .graph-container
      //-         h2 Graphical Report
      //-         select#report-type-select(onchange='renderGraph()')
      //-           option(value='bar') Bar Chart
      //-           option(value='line') Line Chart
      //-           option(value='pie') Pie Chart
      //-         canvas#graphical-report-chart
include footer
//- script(src='https://cdn.jsdelivr.net/npm/chart.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
//- script(src='/js/admin.js')

