doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Update Form
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/babyRegistration.css')
include navbar
header
  include userNav
main
  .container-babyReg
    h2.h2-babyReg DayStar Baby Update Form
    form#registrationForm(action='/babiesUpdate?id='+baby._id method='POST')
      .form-row
        div(style='flex-basis: 48%')
          label(for='firstName') First Name:
          input#firstName(type='text' name='firstName' value=baby.firstName)
        div(style='flex-basis: 48%')
          label(for='lastName') Last Name:
          input#lastName(type='text' name='lastName' value=baby.lastName)
      .form-row
        div(style='flex-basis: 48%')
          label(for='dob') Date of Birth:
          input#dob(type='date' name='dob' value=baby.dob)
        div(style='flex-basis: 48%')
          label(for='gender') Gender:
          select#gender(name='gender')
            option(value='male' selected= baby.gender=== 'male') Male
            option(value='female' selected= baby.gender=== 'female') Female
      label(for='address') Address:
      input#address(type='text' name='address' value=baby.address rows='1')
      .form-row
        div(style='flex-basis: 48%')
          label(for='fatherName') Father&apos;s Name:
          input#fatherName(type='text' name='fatherName' value=baby.fatherName)
        div(style='flex-basis: 48%')
          label &nbsp;
          input#fatherDeceased(type='checkbox' name='fatherDeceased' value=baby.fatherDeceased onchange='toggleFatherName(this)')
          label(for='fatherDeceased') Father Deceased
      .form-row
        div(style='flex-basis: 48%')
          label(for='fatherEmail') Father&apos;s Email:
          input#fatherEmail(type='email' name='fatherEmail' value=baby.fatherEmail)
        div(style='flex-basis: 48%')
          label(for='fatherContact') Father's Contact
          input#fatherContact(type='text' name='fatherContact' value=baby.fatherContact)
      label(for='fatherOccupation') Father's Occupation:
      input#fatherOccupation(type='text' name='fatherOccupation' value=baby.fatherOccupation rows='1')
      .form-row
        div(style='flex-basis: 48%')
          label(for='motherName') Mother&apos;s Name:
          input#motherName(type='text' name='motherName' value=baby.motherName)
        div(style='flex-basis: 48%')
          label &nbsp;
          input#motherDeceased(type='checkbox' name='motherDeceased' value=baby.motherDeceased onchange='toggleMotherName(this)')
          label(for='motherDeceased') Mother Deceased
      .form-row
        div(style='flex-basis: 48%')
          label(for='motherEmail') Mother&apos;s Email:
          input#motherEmail(type='email' name='motherEmail' value=baby.motherEmail)
        div(style='flex-basis: 48%')
          label(for='motherContact') Mother's Contact
          input#motherContact(type='text' name='motherContact' value=baby.motherContact)
      label(for='motherOccupation') Mother's Occupation:
      input#motherOccupation(type='text' name='motherOccupation' value=baby.motherOccupation rows='1')
      .form-row
        div(style='flex-basis: 48%')
          label(for='guardianName') Guardian&apos;s Name:
          input#guardianName(type='text' name='guardianName' value=baby.guardianName)
        div(style='flex-basis: 48%')
          label(for='guardianContact') Guardian&apos;s Contact:
          input#guardianContact(type='text' name='guardianContact' value=baby.guardianContact)
      .form-row
        div(style='flex-basis: 48%')
          label(for='guardianEmail') Guardian&apos;s Email:
          input#guardianEmail(type='text' name='guardianEmail' value=baby.guardianEmail)
        div(style='flex-basis: 48%')
          label(for='guardianOccupation') Guardian&apos;s Occupation:
          input#guardianOccupation(type='text' name='guardianOccupation' value=baby.guardianOccupation)
      label(for='guardianRelationship') Guardian relationship with baby:
      input#guardianRelationship(type='text' name='guardianRelationship' value=baby.guardianRelationship rows='1')
      .form-row
        div(style='flex-basis: 48%')
          label(for='babyNumber') Baby Number:
          input#babyNumber(type='text' name='babyNumber' value=baby.babyNumber rows='1')
      .form-group
        label Who has parental responsibility?
        .form-check
          input#father.form-check-input(type='radio' name='parentResponsibility' value='father' checked= baby.parentResponsibility=== 'father')
          label.form-check-label(for='father') Father
        .form-check
          input#mother.form-check-input(type='radio' name='parentResponsibility' value='mother' checked= baby.parentResponsibility=== 'mother')
          label.form-check-label(for='mother') Mother
        .form-check
          input#father.form-check-input(type='radio' name='parentResponsibility' value='both' checked= baby.parentResponsibility=== 'both')
          label.form-check-label(for='both') Both
        .form-check
          input#mother.form-check-input(type='radio' name='parentResponsibility' value='other' checked= baby.parentResponsibility=== 'other')
          label.form-check-label(for='others') Others
      button.btn-babyReg(type='submit')
        | Update Baby
include footer
script(src='/css/bootstrap/js/bootstrap.bundle.js')
script(src='/js/babyRegistration.js')
