doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby List
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/babyStatus.css')
include navbar
header
  include userNav
main
  .container-fluid
    h3 Registered Babies
    table.table.table-striped
      thead
        tr
          th Baby Name
          th Baby Number
          th Date of Birth
          th Gender
          th Address
          th Parent/Guardian 
          th Parent/Guardian Contact(s) 
          //- th Email
          th Status 
          //- th Check-in
          th Update
          th Delete
      tbody#babyTableBody
        if babies.length 
          each baby in babies
            if baby.parentResponsibility === 'father'
              tr
                td #{baby.firstName+' '+baby.lastName}
                td #{baby.babyNumber}
                td #{moment(baby.dob).format('DD-MM-YYYY')}
                td #{baby.gender}
                td #{baby.address}
                td #{baby.fatherName}
                td #{baby.fatherContact}
                //- td #{baby.fatherEmail}
                td #{baby.status}
                //- td
                //-   a.btn.btn-secondary(href='/checkInBaby/'+baby._id) Check-in
                td
                  a.btn.btn-success(href='babiesUpdate/'+baby._id) Update
                td  
                  form(action='/delete' method='POST')
                    input(type='hidden' name='id' value=baby._id)
                    button.btn.btn-danger(type='submit') Delete
            else if baby.parentResponsibility === 'mother'
                tr
                  td #{baby.firstName+' '+ baby.lastName}
                  td #{baby.babyNumber}
                  td #{moment(baby.dob).format('DD-MM-YYYY')}
                  td #{baby.gender}
                  td #{baby.address}
                  td #{baby.motherName}
                  td #{baby.motherContact}
                  //- td #{baby.motherEmail}
                  td #{baby.status}
                  //- td
                  //-   a.btn.btn-secondary(href='/checkInBaby/'+baby._id) Check-in
                  td
                    a.btn.btn-success(href='babiesUpdate/'+baby._id) Update
                  td  
                    form(action='/delete' method='POST')
                      input(type='hidden' name='id' value=baby._id)
                      button.btn.btn-danger(type='submit') Delete
            else if baby.parentResponsibility === 'both'
                tr
                  td #{baby.firstName+' '+baby.lastName}
                  td #{baby.babyNumber}
                  td #{moment(baby.dob).format('DD-MM-YYYY')}
                  td #{baby.gender}
                  td #{baby.address}
                  td #{baby.fatherName+', '+ baby.motherName}
                  td #{baby.fatherContact+', '+ baby.motherContact}
                  //- td #{baby.fatherEmail+', '+ baby.motherEmail}
                  td #{baby.status}
                  //- td
                  //-   a.btn.btn-secondary(href='/checkInBaby/'+baby._id) Check-in
                  td
                    a.btn.btn-success(href='babiesUpdate/'+baby._id) Update
                  td  
                    form(action='/delete' method='POST')
                      input(type='hidden' name='id' value=baby._id)
                      button.btn.btn-danger(type='submit') Delete
            else if baby.parentResponsibility === 'other'
                tr
                  td #{baby.firstName+' '+ baby.lastName}
                  td #{baby.babyNumber}
                  td #{moment(baby.dob).format('DD-MM-YYYY')}
                  td #{baby.gender}
                  td #{baby.address}
                  td #{baby.guardianName}
                  td #{baby.guardianContact}
                  //- td #{baby.guardianEmail}
                  td #{baby.status}
                  //- td
                  //-   a.btn.btn-secondary(href='/checkInBaby/'+baby._id) Check-in
                  td
                    a.btn.btn-success(href='babiesUpdate/'+baby._id) Update
                  td  
                    form(action='/delete' method='POST')
                      input(type='hidden' name='id' value=baby._id)
                      button.btn.btn-danger(type='submit') Delete
include footer
//- script(src='/js/babyStatus.js')
script(src='/css/bootstrap/js/bootstrap.bundle.js')
